<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title"><%= post.title %></h2>
  </div>
  <div class="panel-body">
    <%- post.description %>
  </div>
  <div class="panel-footer">
      <span class="glyphicon glyphicon-home"></span><a href="/jobs/<%= post.job._id %>" ><%= post.job.title %></a>
      <span class="glyphicon glyphicon-time"></span><%= post.pub_at %>
  </div>
</div>