<%- include('header') %>

<h2><%= job.title %> 的 Post列表</h2>

<% if (!posts || posts.length == 0) { %>
    <p>目前还没有抓取到任何内容。</p>
<% } %>

<ul class="list-group">
<% posts.forEach(function (post) { %>
<li class="list-group-item">
    <h3 ><a href="/posts/<%= post._id %>" class="list-group-item"> <%= post.title %></a></h3>
    <p >Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a href="/jobs/<%= post.job._id %>" class="list-group-item"> <%= post.job.title %></a>
    <p> <%= post.pub_at %> </p>
</li>
<% }) %>
</ul>

<ul class="pager">
<% if ( pagerParam.firstId != -1) { %>
  <li><a href="/jobs/<%= job._id %>/posts?prev=<%= pagerParam.firstId %>">Previous</a></li>
<% } %>
<% if ( pagerParam.lastId != -1) { %>
  <li><a href="/jobs/<%= job._id %>/posts?next=<%= pagerParam.lastId %>">Next</a></li>
<% } %>
</ul>

<%- include('footer') %>

