<%- include('header') %>

<div class="row col-md-offset-1">
  <h3 >Post列表</h3>
</div>

<% if (!posts || posts.length == 0) { %>
    <p>目前还没有抓取到任何内容。如果还没创建过Job，您可以先<a href="/jobs/create">创建Job</a>。</p>
<% } %>

<% posts.forEach(function (post) { %>
<div class="row  col-md-offset-1" style="border:1px solid green; margin-top:1px;">
    <div class="col-md-10">
      <h4 ><a href="/posts/<%= post._id %>"> <%= post.title %></a></h4>
    </div>
    <div class="col-md-10">
      <a href="/jobs/<%= post.job._id %>"> <%= post.job.title %></a>
      <%= post.pub_at %>
    </div>
</div>
<% }) %>

<ul class="pager">
<% if ( pagerParam.firstId != -1) { %>
  <li><a href="/posts?prev=<%= pagerParam.firstId %>">Previous</a></li>
<% } %>
<% if ( pagerParam.lastId != -1) { %>
  <li><a href="/posts?next=<%= pagerParam.lastId %>">Next</a></li>
<% } %>
</ul>

<%- include('footer') %>

